# These packages are required for core functionality.
pefile>=2017.8.1 #foo

# The following packages are optional.
# If certain packages are not necessary, place a comment (#) at the start of the line.

# This is required for the yara plugins
yara-x>=0.5.0

pytest>=7.0.0
