# Include the minimal requirements
-r requirements-minimal.txt

# The following packages are optional.
# If certain packages are not necessary, place a comment (#) at the start of the line.

# This is required for the yara plugins
yara-python>=3.8.0

# This is required for several plugins that perform malware analysis and disassemble code.
# It can also improve accuracy of Windows 8 and later memory samples.
capstone>=3.0.5

# This is required by plugins that decrypt passwords, password hashes, etc.
pycryptodome

# This is required for memory acquisition via leechcore/pcileech.
leechcorepyc>=2.4.0; sys_platform != 'darwin'

# This is required for memory analysis on a Amazon/MinIO S3 and Google Cloud object storage
gcsfs>=2023.1.0
s3fs>=2023.1.0