-r requirements.txt

# This can improve error messages regarding improperly configured ISF files,
# but is only recommended for development
jsonschema>=2.3.0

# Used to build executable file
pyinstaller>=6.5.0
pyinstaller-hooks-contrib>=2024.3